body {
    background: #e6ecff;
    font-family: "Copperplate", Copperplate, fantasy;
    color: #482189;
}

hr {
    color: #482189;
}

a {
    color: black;
}

h1,
h3,
h5 {
    text-align: center;
    color: #9999ff  ;
}

h2,
h4 {
    color: #482189;
}

h2 {
    text-align: center; 
}

img.gemi,
img.kodi,
img.bayne {
    width: 40%;
    height: auto; 
}

section.gemi, 
section.kodi, 
section.bayne {
    margin: 0; 
}

section.education h3,
section.revcourses h3,
section.projects h3,
section.experience h3,
section.skills h3,
section.volunteer h3 {
    text-align: left; 
    display: flex; 
}

div.edu,
div.seniordes, 
div.duck,
div.wabtec {
    display: flex; 
    justify-content: space-between; 
}
div {
    margin: 0px;
    padding: 0px;
}

#gpa, 
#swengcap, 
#duckproj, 
#wabtecpos {
    text-align: left; 
}
#dean, 
#swengprogdate, 
#duckdates, 
#wabtecdates {
    text-align: right;
}

figure {
    width: 100%;
    text-align: center; 
    margin: 0; 
    padding: 0;
}

figcaption {
    padding: 0% 10% 10% 10%;
}

figure.memes {
    text-align: center; 
    color: #BB3A80;
}

img.memes {
    width: 60%;
}

table.courses,
table.skills {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

td, th{
    margin: 20px 0px;
    padding: 5px;
    border: 1px solid;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #8080ff;
}
li.nav {
    float: left; 
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}

li a:hover {
    background-color: #482189;
    color: white;
}


